$break-point: (
    "sm": 576px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1280px
);

// Gutters
$mobile-gutter: 1.5rem;
$tablet-gutter: 3.25rem;
$lg-gutter: 8.5rem;

//Colors
$white: #ffffff;
$slate-gray: #717C89;
$navy-blue: #150578;
$midnight-blue: #0E0E52;
$denim-blue: #3943B7;
$light-gray:#E0E0DE;
$light-blue: #67A4E1;
$border-white:#e7e7e7;